$white : #EBF5FB ;
$blue : #AED6F1 ;
$fontStyle1 :'Orbitron', sans-serif;
$fontStyle2 :'Roboto Slab', serif;

/* Style section1*/
.section1 {

    text-align: center;
    background-color: $blue; 
    font-family: $fontStyle1;

}

/* Style section2*/
.section2 { 

    font-family: $fontStyle2;

} 

/* Style section3*/
.section3 {

    font-family: $fontStyle2;
    font-size: 1.5em;

    input {
        max-width : 25vw;
        font-size: 0.75em;
    }

    #usernameButton {
        margin-left: 0.75%;
        background-color: $white;
        padding-left: 4.25%;
        padding-right: 4.25%;
        border: 0.15em;
        border-radius: 0.5em;
    }
}

/* Style section4 */ 
.section4 {

    font-family: $fontStyle2; 
}


/* Style section5 */
.section5 {

    font-family: $fontStyle2;
    display: none;
    height: 5vh;

    h5 {
        font-size: 1.5em;
    }

    #showRepoInfo{
        height: 40vh;
        overflow: scroll;
        font-size: 1.25em;
    }   
}

